{% extends 'shop/templates/index.html' %}
{% load static %}
{% load multiple %}

{% block head %}
     <link rel="stylesheet" href="{% static 'checkout/static/css/CheckoutForm.css' %}" />
{% endblock %}

{% block header %}
{% endblock %}


{% block title %}{{ profile.user.username }} purchase checkout{% endblock %}

{% block content %}
    <div class="container">
    {% if cart.items %}
      <div class="row">
        <div class="col-xl-4 col">
          <div class="right">
            <div class="rightheader">
              <p>محصولات انتخاب شده</p>
            </div>
            <div class="items">

            {% comment%} This loop is for right section of the checkout page {% endcomment %}
              {% for product in cart.product.all %}
                      <div>
                        <img src="{% if product.picture %}{{ product.picture.url }}{% else %}{% static 'shop/static/images/header.jpg' %}{% endif %}" width="50" height="50" />
                        <span class="uk-text-middle">{{ product.brand.name }}_{{ product.name }}</span>
                      </div>
              {% endfor %}

            </div>
          </div>
          <div class="BTN">
            <button><span class="material-icons"> chevron_left </span><a href="{% url 'shop:index' %}">بازگشت</a></button>
            <button><span class="material-icons"> delete </span><a href="{% url 'cart:cart_clean' username=request.user.username %}">حذف</a></button>
            <button onclick="window.print()"><span class="material-icons"> save </span><a>ذخیره</a></button>
            <button><span class="material-icons"> credit_card </span><a href="{% url 'checkout:pay' username=profile.user.username %}">پرداخت</a></button>
          </div>
        </div>
        <div class="col-xl-8 col">
          <div class="left">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">محصول انتخاب شده</th>
                  <th scope="col">تعداد</th>
                  <th scope="col">قیمت محصول</th>
                </tr>
              </thead>
              <tbody>

              {% comment %} This is the product list loop {% endcomment %}
              {% for product in cart.product.all %}
                {% for product_id, numbers in cart.items.items %}
                    {% if product.product_id == product_id %}

                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ product.brand.name }}_{{ product.name }}</td>
                      <td>{{ numbers }}</td>
                      <td>{{ product.end_price|multiple:numbers }} تومان </td>
                    </tr>

                    {% endif %}
                {% endfor %}
            {% endfor %}

              </tbody>
            </table>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">جمع کل فاکتور(بعد از تخفیف)</th>
                <th scope="col">{{ cart.price_after_discount }} تومان </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    {% endif %}
    </div>
{% endblock content %}




{% comment %}
<!DOCTYPE html>
{% load static %}
{% load multiple %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ profile.user.username }} purchase checkout</title>
</head>
<body>
    {% block content %}
        {% if cart.items %}
        <h1>سفارش خود را تایید فرمایید:</h1>
        {% for product in cart.product.all %}
            {% for product_id, numbers in cart.items.items %}
                {% if product.product_id == product_id %}
                    <h3>نام محصول: {{ product.brand.name }} {{ product.name }}</h3>
                    <h3>تصویر محصول:</h3>
                    <p><img src="{{ product.picture.url }}" alt="تصویر محصول"></p>
                    <h3>تعداد سفارش داده شده: {{ numbers }} واحد </h3>
                    <h3>قیمت هر واحد: {{ product.price }} تومان </h3>
                    <h3>قیمت کل {{ numbers }} واحد: {{ product.price|multiple:numbers }} تومان </h3>
                {% endif %}
            {% endfor %}
        {% endfor %}
            <h2>مبلغ کل سفارش: {{ cart.total_price }} تومان </h2>
            <h2><a href="{% url 'checkout:pay' username=profile.user.username %}">پرداخت</a></h2>
            <h1>مبلغ پرداختی شما بعد از تخفیف: {{ cart.price_after_discount }} تومان </h1>
        {% else %}
            <h1>محصولی سفارش نداده اید</h1>
        {% endif %}
    {% endblock content %}
</body>
</html>
{% endcomment %}
