<!DOCTYPE html>
{% load static %}
{% load modulus %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://v1.fontapi.ir/css/ShabnamFD" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="{% static 'css/uikit-rtl.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'shop/static/css/style.css' %}"/>


    {% block head %}
    {% endblock head %}

    <title>{% block title %}به فروشگاه الکتروشاپ خوش آمدید{% endblock %}</title>

  </head>
  <body>


  {% block header %}
    <header class="header">
      <div id="header">
        <div class="logo">
            <a href="{% url 'shop:index' %}"></a>
          <!-- <a href="#">logo</a> -->
        </div>
        <nav>
          <ul>
            <li>
              <a href="{% url 'shop:index' %}">صفحه اصلی</a>
            </li>
            <li>
              <a href="">دسته بندی</a>
              <ul class="mega-dropdown">
                <li class="row">
                    <ul class="mega-col">
                    {% for category in categories %}
                        {% if forloop.counter|modulus:4 %}
                            </ul>
                            <ul class="mega-col">
                        {% endif %}
                        <li><a href="{% url 'shop:category_name' slug=category.slug %}">{{ category.name }}</a></li>

                    {% endfor %}
                        </ul>

                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="">تخفیف ویژه</a>
              <!-- <ul>
                <li><a href="#">About Version</a></li>
                <li><a href="#">About Version</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul> -->
            </li>
            <li>
              <a href="">جشنواره</a>
            </li>
            <li>
              <a href="">پیشنهادت ویژه</a>
            </li>
          </ul>
        </nav>
        <form class="search" action="">
          <input name="q" placeholder="جستجو" type="search" />
        </form>
        <div class="ICON">
            {% if request.user.username %}
              <a href="{% url 'profile:edit_profile' username=request.user.username %}"><i id="user1" class="material-icons"> person_outline </i></a>
              <a href="{% url 'cart:cart_view' username=request.user.username %}"><i class="material-icons"> shopping_cart <span class="uk-badge">{{ cart.total_number }}</span></i></a>
            {% else %}
                <a href="{% url 'profile:login_signup' %}"><i id="user" class="material-icons"> person_outline </i></a>
                <a href=""><i class="material-icons"> shopping_cart <span class="uk-badge">-1</span></i></a>
            {% endif %}
        </div>
      </div>
    </header>
  {% endblock header %}


  {% block content %}
    <section class="wrapper">
      <div class="container">
        <div class="row">
          <!-- /////start loop////// -->
            {% for category in categories %}
          <div class="col-sm-4">
            <div class="card text-white card-has-bg click-col" style="background-image: url('{{ category.background_image.url }}')">
              <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" />
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <p class="card-title mt-0"><a class="text-white">{{ category.name_persian }}</a></p>
                  <small>{{ category.product_category.all|length }}</small>
                  <br />
                  <small class="card-meta mb-2"><a href="{% url 'shop:category_name' slug=category.slug  %}">نمایش محصولات</a></small>
                </div>
                <!-- <div class="card-footer">
                  <div class="media">
                    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width: 50px" />
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
                      <small>Director of UI/UX</small>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
            {% endfor %}
          <!-- /////end loop////// -->

        </div>
      </div>
    </section>


    <div class="container">
      <p>پیشنهاد ویژه</p>
      {% if not product_offered %}
            <h1>در حال حاضر پیشنهاد ویژه وجود ندارد</h1>
      {% else %}
      <div class="slide">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow=" animation: push">
          <ul class="uk-slideshow-items">

            <li class="slide">
              <div class="PR">
            {% for product in product_offered %}
                {% if forloop.counter|modulus:product_special_offer_counter %}
              </div>
            </li>
            <li class="slide">
              <div class="PR">
                  {% endif %}
                <div class="uk-text-center">
                  <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="1">
                    <a href=""><img class="img" src="{% static 'shop/static/images/header.jpg' %}" alt="{{ product.brand.name }}-{{ product.name }} تصویر " /></a>
                    <div class="uk-position-center">
                      <div class="uk-transition-slide-top-small"><p class="uk-margin-remove">{{ product.name }}</p></div>
                      <div class="uk-transition-slide-bottom-small"><p class="uk-margin-remove">{{ product.name }}</p></div>
                    </div>
                  </div>
                </div>

            {% endfor %}

              </div>
            </li>

          </ul>
        </div>
      </div>
    {% endif %}
    </div>

    <hr />

    <div class="container">
      <p>تخفیف دار</p>
      {% if not product_discounted %}
        <h1>در حال حاضر تخفیف ویژه وجود ندارد</h1>
      {% else %}
      <div class="slide">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow=" animation: push">
          <ul class="uk-slideshow-items">

            <li class="slide">
              <div class="PR">
            {% for product in product_discounted %}
                {% if forloop.counter|modulus:product_discount_counter %}
              </div>
            </li>
            <li class="slide">
              <div class="PR">
                  {% endif %}
                <div class="uk-text-center">
                  <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="1">
                    <a href=""><img class="img" src="{% static 'shop/static/images/header.jpg' %}" alt="{{ product.brand.name }}-{{ product.name }} تصویر " /></a>
                    <div class="uk-position-center">
                      <div class="uk-transition-slide-top-small"><p class="uk-margin-remove">{{ product.name }}</p></div>
                      <div class="uk-transition-slide-bottom-small"><p class="uk-margin-remove">{{ product.name }}</p></div>
                    </div>
                  </div>
                </div>

            {% endfor %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
    </div>
  {% endblock content %}


  {% block footer %}
  {% endblock footer %}


  {% block scripts %}
    <script src="{% static 'shop/static/js/script.js' %}"></script>
    <script src="{% static 'shop/static/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'shop/static/js/uikit.min.js' %}"></script>
    <script src="{% static 'shop/static/js/jquery.js' %}"></script>
  {% endblock scripts %}

  </body>
</html>
