{% extends 'index.html' %}
{% load static %}

{% block title %}{{ category.name }}_category{% endblock %}

{% block content %}
      <div class="container-fluid">

      <div class="row">
        <div class="col-xl-12 col row justify-content-center">

          {% for category in categories %}
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
              <a href=""><img class="img" src="{{ category.background_image.url }}" alt="" /></a>
              <div class="uk-position-center">
                <div class="uk-transition-slide-top-small"><p class="uk-margin-remove">{{ category.name }}</p></div>
                <div class="uk-transition-slide-bottom-small"><p class="uk-margin-remove">{{ category.name_persian }}</p></div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      <dic class="row">
        <div class="col-xl-12">
          <!-- /////start loop////// -->
            {% for product in products %}


          <div class="Card">
            <div class="Card-img" style="background-image: url({% if product.picture %}{{ product.picture.url }}{% else %}{% static 'shop/static/images/mainboard.jpg' %}{% endif %})">
              <div class="overlay">
                <div class="overlay-content">
                  <a href="{% url 'shop:product_detail' product_id=product.product_id %}">مشاهده مشخصات</a>
                </div>
              </div>
            </div>
            <div class="Card-content">
              <a href="{% url 'shop:product_detail' product_id=product.product_id %}">
                <h2>{{ product.brand.name }}_{{ product.name }}</h2>
                <p>{{ product.description|truncatechars:10 }}</p>
              </a>
            </div>
          </div>

            {% endfor %}
          <!-- /////end loop////// -->
        </div>
      </dic>
    </div>
{% endblock content %}