{% extends 'index.html' %}
{% load static %}

{% block title %}{{ product.brand.name }}-{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xl-12 DETAIL">
          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
              <img class="detail" src="{% if product.picture %}{{ product.picture.url }}{% else %}{% endif %}" alt="تصویری وجود ندارد" uk-cover />
              <canvas width="600" height="400"></canvas>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Xperia XA</h3>
                <table class="uk-table uk-table-small uk-table-divider">
                  <tbody>
                    <tr>
                      <td>میزان رم</td>
                      <td>2 گیگابایت</td>
                    </tr>
                    <tr>
                      <td>میزان حافظه داخلی</td>
                      <td>16 گیگابایت</td>
                    </tr>
                    <tr>
                      <td>اندازه</td>
                      <td>5.0</td>
                    </tr>
                    <tr>
                      <td>تعداد سیمکارت</td>
                      <td>2 عدد</td>
                    </tr>
                    <tr>
                      <td>دوربین</td>
                      <td>13 مگاپیکسل</td>
                    </tr>
                  </tbody>
                </table>
                  <form method="post">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" max="5">
                <input type="submit" value="add to cart">
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="uk-subnav uk-subnav-pill" uk-switcher>
        <li><a href="#">مشخصات کامل</a></li>
        <li><a href="#">بررسی تخخصی</a></li>
        <li><a href="#">نظرات کاربران</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
        <li>
          <div class="col-xl-12">
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-small uk-table-divider" id="mylist" style="text-align: center">
                <tbody>
                  <tr>
                    <td>قابلیت</td>
                    <td>توان</td>
                  </tr>
                  <tr>
                    <td>پردازنده</td>
                    <td>1.4 گیگاهرتز</td>
                  </tr>
                  <tr>
                    <td>کیفیت صفحه نمایش</td>
                    <td>4000 px</td>
                  </tr>
                  <tr>
                    <td>حافظه داخلی</td>
                    <td>16 گیگابایت</td>
                  </tr>
                  <tr>
                    <td>camera</td>
                    <td>13MP</td>
                  </tr>
                  <tr>
                    <td>پردازنده</td>
                    <td>1.4 گیگاهرتز</td>
                  </tr>
                  <tr>
                    <td>کیفیت صفحه نمایش</td>
                    <td>4000 px</td>
                  </tr>
                  <tr>
                    <td>حافظه داخلی</td>
                    <td>16 گیگابایت</td>
                  </tr>
                  <tr>
                    <td>camera</td>
                    <td>13MP</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>

        <li>
          <h2>زیبایی در جلوه ی هنر</h2>
          <br />
          <p>سونی اکسپریا</p>
          <br />
            <p>
                {{ product.description }}این محصول....
            </p>
        </li>
        {% comment %}
            The comment section must implemented as a for loop!!!!!
        {% endcomment %}
          <li>
          <div class="be-comment-block">
            <p class="comments-title">نظرات (3)</p>
            <div class="be-comment">
              <div class="be-img-comment">
                <a href="blog-detail-2.html">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment" />
                </a>
              </div>
              <div class="be-comment-content">
                <span class="be-comment-name">
                  <a href="blog-detail-2.html">امین قاسمی</a>
                </span>
                <span class="be-comment-time">
                  <i class="fa fa-clock-o"></i>
                  30 اسفند 99
                </span>

                <p class="be-comment-text">گوشی جذابیه ولی خیلی زود داغ میکنه.</p>
              </div>
            </div>
            <div class="be-comment">
              <div class="be-img-comment">
                <a href="blog-detail-2.html">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="be-ava-comment" />
                </a>
              </div>
              <div class="be-comment-content">
                <span class="be-comment-name">
                  <a href="blog-detail-2.html">ارسلان</a>
                </span>
                <span class="be-comment-time">
                  <i class="fa fa-clock-o"></i>
                  1 اردیبهشت 1400
                </span>
                <p class="be-comment-text">لوازم جانبی براش نیست</p>
              </div>
            </div>
            <div class="be-comment">
              <div class="be-img-comment">
                <a href="blog-detail-2.html">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment" />
                </a>
              </div>
              <div class="be-comment-content">
                <span class="be-comment-name">
                  <a href="blog-detail-2.html">دنیا قوامی</a>
                </span>
                <span class="be-comment-time">
                  <i class="fa fa-clock-o"></i>
                  5 خرداد 1400
                </span>
                <p class="be-comment-text">من رز گلدش رو خریدم خیلی راضی ام ازش</p>
              </div>
            </div>
            <form class="form-block">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group fl_icon">
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <input class="form-input" type="text" placeholder="نام" />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 fl_icon">
                  <div class="form-group fl_icon">
                    <div class="icon"><i class="fa fa-envelope-o"></i></div>
                    <input class="form-input" type="text" placeholder="آدرس ایمیل" />
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="form-group">
                    <textarea class="form-input" required="" placeholder="بنویسید"></textarea>
                  </div>
                </div>
                <a class="btn btn-primary pull-right">ارسال نظر</a>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
{% endblock content %}