{% extends 'shop/templates/index.html' %}
{% load static %}
{% load multiple %}
{% block header %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'cart/static/css/ShoppinCart.css' %}" />
{% endblock head %}

{% block title %}{{ request.user.username }}{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-sm bg-dark justify-content-center fixed-top d-flex flex-column">
      <img src="{% if cart.profile.picture %}{{ cart.profile.picture.url }}{% else %}{% static 'cart/static/images/example.jpg' %}{% endif %}" alt="آواتار کاربر" />
      <p>{{ cart.profile.user.username }}</p>
    </nav>
    <div class="container">
    {% if cart.items %}
        <input type="hidden" id="item_type_number" value="{{ cart.items|length }}">
        <input type="hidden" id="username" value="{{ request.user.username }}">
      <div class="row">
        <div class="col-xl-12">
          <div class="basket">
            <div class="basket-labels">
              <ul>
                <li class="item item-heading">محصول انتخاب شده</li>
                <li class="price">قیمت</li>
                <li class="quantity">تعداد</li>
                <li class="subtotal">جمع کل</li>
              </ul>
            </div>
              {% for item_id, number in cart.items.items %}
                {% for product_obj in cart.product.all %}
                    {% if item_id == product_obj.product_id %}
            <div class="basket-product">
              <div class="item">
                <div class="product-image">
                  <img src="{% if product_obj.picture %}{{ product_obj.picture.url }}{% else %}{% static 'shop/static/images/mainboard.jpg' %}{% endif %}" alt="Placholder Image 2" class="product-frame" />
                </div>
                <div class="product-details">
                  <h1>
                    <strong><span class="item-quantity"></span>{% for category in product_obj.category.all %}{{ category }}: {% endfor %}{{ product_obj.brand.name }}</strong>
                  </h1>
                  <p><strong>{{ product_obj.name }}</strong></p>
                  <p>سری ساخت 124183</p>
                </div>
              </div>
              <div class="price" id="price{{ forloop.counter }}">{{ product_obj.end_price }}</div>
              <div class="quantity">
                <input type="number" id="quantity{{ forloop.counter }}" name="{{ item_id }}"  value="{{ number }}" min="1" class="quantity-field" />
                  {% comment %}
                    - beside 'value' field, 'name' field is for sending some data to ajax request
                    - 'price{{ forloop.counter }}' and 'quantity{{ forloop.counter }}' are for ajax loop!
                    - There are many unused attribute fields in html tags we could use to send data to ajax...
                    ... requests in javascripts. We must use "TagObject".context.<attribute_field_name> to get...
                    ... field data. like this: $("#quantity2").context.name
                  {% endcomment %}
              </div>
              <div class="subtotal">{{ product_obj.end_price|multiple:number }}</div>
              <div class="remove">
                <button id="delete_button{{ forloop.counter }}" value="{{ item_id }}">حذف</button>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          {% endfor %}
          </div>
          <aside>
            <div class="summary">
              <div class="summary-total-items"><span class="total-items"></span> تعداد محصولات انتخاب شده</div>
              <div class="summary-subtotal">
                <div class="subtotal-title">قیمت</div>
                <div class="subtotal-value final-value" id="basket-subtotal">{{ cart.total_price }}</div>
                <div class="summary-promo hide">
                  <div class="promo-title">تخفیف</div>
                  <div class="promo-value final-value" id="basket-promo"></div>
                </div>
              </div>
              <div class="summary-total">
                <div class="total-title">جمع کل</div>
                <div class="total-value final-value" id="basket-total">{{ cart.price_after_discount }}</div>
                <div class="total-value final-value" id="basket-OFF"></div>
                <div class="basket-module">
                  <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field" />
                  <button class="promo-code-cta">اعمال تخفیف</button>

                </div>
              </div>
              <div class="summary-checkout">
                <button class="checkout-cta"><a href="{% url 'checkout:checkout' username=request.user.username %}?price={{ cart.price_after_discount }}">مشاهده فاکتور</a></button>
              </div></aside>
        </div>
      </div>
    {% else %}
    <h1>سبد شما خالی است</h1>
    {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'cart/static/js/anime.min.js' %}"></script>
    <script src="{% static 'shop/static/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'shop/static/js/uikit.min.js' %}"></script>
    <script src="{% static 'shop/static/js/jquery.js' %}"></script>
    <script src="{% static 'cart/static/js/SoppingCart.js' %}"></script>
{% endblock scripts %}



{% comment %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="basket">
            <div class="basket-module">
              <label for="promo-code">وارد کردن کد تخفیف</label>
              <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field" />
              <button class="promo-code-cta">اعمال تخفیف</button>
            </div>
            <div class="basket-labels">
              <ul>
                <li class="item item-heading">محصول انتخاب شده</li>
                <li class="price">قیمت</li>
                <li class="quantity">تعداد</li>
                <li class="subtotal">جمع کل</li>
              </ul>
            </div>
            <div class="basket-product">
              <div class="item">
                <div class="product-image">
                  <img src="{% static 'shop/static/images/mainboard.jpg' %}" alt="Placholder Image 2" class="product-frame" />
                </div>
                <div class="product-details">
                  <h1>
                    <strong><span class="item-quantity"></span>مادربرد AMD</strong>
                  </h1>
                  <p><strong>مدل KVS</strong></p>
                  <p>سری ساخت 124183</p>
                </div>
              </div>
              <div class="price">20000000</div>
              <div class="quantity">
                <input type="number" value="1" min="1" class="quantity-field" />
              </div>
              <div class="subtotal"></div>
              <div class="remove">
                <button>حذف</button>
              </div>
            </div>
            <div class="basket-product">
              <div class="item">
                <div class="product-image">
                  <img src="{% static 'shop/static/images/mainboard.jpg' %}" alt="Placholder Image 2" class="product-frame" />
                </div>
                <div class="product-details">
                  <h1>
                    <strong><span class="item-quantity"></span>مادربرد AMD</strong>
                  </h1>
                  <p><strong>مدل KVS</strong></p>
                  <p>سری ساخت 124183</p>
                </div>
              </div>
              <div class="price">4000000</div>
              <div class="quantity">
                <input type="number" value="1" min="1" class="quantity-field" />
              </div>
              <div class="subtotal"></div>
              <div class="remove">
                <button>حذف</button>
              </div>
            </div>
          </div>
          <aside>
            <div class="summary">
              <div class="summary-total-items"><span class="total-items"></span> تعداد محصولات انتخاب شده</div>
              <!-- <div class="summary-subtotal">
                <div class="subtotal-title">ریز قیمت</div>
                <div class="subtotal-value final-value" id="basket-subtotal"></div>
                <div class="summary-promo hide">
                  <div class="promo-title">Promotion</div>
                  <div class="promo-value final-value" id="basket-promo"></div>
                </div>
              </div> -->
              <div class="summary-total">
                <div class="total-title">جمع کل</div>
                <div class="total-value final-value" id="basket-total"></div>
              </div>
              <div class="summary-checkout">
                <button class="checkout-cta">رفتن به صفحه پرداخت</button>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <img src="{% static 'cart/static/images/cart.png' %}" class="div" alt="" />
{% endblock content %}

{% block scripts %}
    <script src="{% static 'cart/static/js/anime.min.js' %}"></script>
    <script src="{% static 'shop/static/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'shop/static/js/uikit.min.js' %}"></script>
    <script src="{% static 'shop/static/js/jquery.js' %}"></script>
    <script src="{% static 'cart/static/js/SoppingCart.js' %}"></script>
{% endblock scripts %}

{% endcomment %}


<!--                              between codes!                                              -->


{% comment %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user.username }}</title>
</head>
<body>
    {% block context %}
        {% if cart.items %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {% for item_id, number in cart.items.items %}
                {% for product_obj in cart.product.all %}
                    {% if item_id == product_obj.product_id %}
                        <h3>{{ product_obj.brand }} {{ product_obj.name }} </h3> <p>unit price: {{ product_obj.price }}</p>
                        <img src="{{ product_obj.picture.url }}">

                        <form action="{% url 'cart:cart_change_item' username=request.user.username item_id=item_id %}" method="post">
                            {% csrf_token %}
                            <label>numbers: </label>
                            <input type="number" name="quantity" min="1" max="10" value="{{ number }}">
                            <input type="submit" value="change">
                        </form>

                        <p><a href="{% url 'cart:cart_remove_item' item_id=item_id username=request.user.username %}">delete product</a></p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <h2>Total items in the cart: {{ cart.total_number }}</h2>
            <h2>Total price: {{ cart.total_price }}</h2>

            <h1><a href="{% url 'checkout:checkout' username=request.user.username %}">payment</a></h1>

            <h2><a href="{% url 'cart:cart_clean' username=request.user.username %}">Clean Cart!</a></h2>
        {% else %}
            <h2>سبد خالی است</h2>
        {% endif %}
    {% endblock context %}
</body>
</html>
{% endcomment %}
